html,
body,
#root {
    margin: 0;
    padding: 0;
    background: white;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
